<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496383393399-k8j332dh06ut1nv9bhlpusgn87m2thce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496383393399-k8j332dh06ut1nv9bhlpusgn87m2thce</string>
	<key>API_KEY</key>
	<string>AIzaSyDqjnwb4rk-ueX-O57oBlSbtfQ6DFse5XA</string>
	<key>GCM_SENDER_ID</key>
	<string>496383393399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.costes</string>
	<key>PROJECT_ID</key>
	<string>cafe-costes</string>
	<key>STORAGE_BUCKET</key>
	<string>cafe-costes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496383393399:ios:8d444131a3e2ff99</string>
	<key>DATABASE_URL</key>
	<string>https://cafe-costes.firebaseio.com</string>
</dict>
</plist>